<div class="header">
    <div class="header-logo">
        <h1>Bahá’í Book Sales</h1>
        <h3>Century Press Publications &amp; Distributions</h3>
        <h2>Welcome to the biggest Bahá'í bookstore in Australasia</h2>
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderCheckout", "Common")
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>
    <div class="header-selectors-wrapper">
        @Html.Widget("header_selectors")
    </div>
</div>
